<div>
  <div class="heading">
    <h1 >Eat-Da-Burger!</h1>
    <img id ="burger-img" src="../assets/img/burger.png" alt="burger-image"/>  
  </div>
  <div style="display: flex; width: 100%; justify-content: center;">
    <div style="margin-right: 20px; width: 200px;">
      {{#each burgers}}
        {{#unless devoured}}
          <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
            <div>
              {{id}}. {{burger_name}}
            </div>
            <div>
              <button class="devourIt" name="devoured" value={{id}}> Devour it!</button>
            </div>
          </div>
        {{/unless}}
      {{/each}}
    </div>

    <div>
      {{#each burgers}}
        {{#if devoured}}
          <div style="margin-bottom: 5px;">
            {{id}}. {{burger_name}}
          </div>
        {{/if}}
      {{/each}}
    </div>

  </div>
  <form class="create-form">
    <div class="form-group">
      <div>
        <input type="text" id="burger" name="burger_name">    
      </div>
    </div>
    <button type="submit" id="submitBtn">Submit</button>
    <p>Enter a burger you want to eat & click the "submit" button</p>
  </form>
</div>



